<div class="signup-component">
    <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="signup-form">

    <div class="inputs">

        <label for="name">
            Name:
        </label>
        <input
        id="name"
            formControlName="name"
            type="text"
            class="name-input">

            <label for="username">
                Username:
            </label>
            <input
            id="username"
            formControlName="username"
            type="text"
            class="username">

            <label for="password">
                Password:
            </label>
            <input
            id="password"
            formControlName="password"
            type="password"
            class="password">

            <label for="re-enter-password">
                Re-enter password:
            </label>
            <input
            id="re-enter-password"
            formControlName="reenterPassword"
            type="password"
            class="password">

            <label for="about">
                About you:
            </label>
            <textarea
            id="about"
            formControlName="about"
            class="about"></textarea>

            <button type="submit">Submit</button>

        </div>
    </form>
</div>