<div class="overlay">
    <h1>
        Welcome to site
    </h1>

    <div class="text intro">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in justo convallis felis aliquam aliquet. Nam vitae ultricies nisi. Etiam nec ex id metus ultricies eleifend tristique sit amet eros. Ut luctus, dolor ac varius interdum, augue risus molestie odio, vel consectetur sapien ante vitae sem. Suspendisse massa neque, imperdiet ut est sit amet, bibendum pulvinar erat. Morbi lacus arcu, venenatis ut condimentum vitae, ornare a tortor. Pellentesque consectetur vel tellus eu pretium.
        </p>
    </div>

    <div class="text signed-in">

    </div>

    <div class="text info">
        Donec pretium ut lorem sit amet semper. Proin finibus nulla eget nisl mollis, at lacinia erat luctus. Phasellus et posuere ante, in aliquam lectus. Quisque dignissim elit in dui condimentum, quis fermentum dolor auctor. Nam placerat massa dui, et lacinia metus vehicula sed. Aliquam eget sagittis ipsum, ac consectetur eros. Nulla dui felis, semper a tristique vel, eleifend vitae augue.
    </div>

</div>
